{% extends "Posts/base.html" %}

{% block content %}
<div style="position: absolute; top: 80px; left: 550px; z-index: auto;">
    <div class="card" style="width: 25rem;">
        <h5 class="card-header">List of posts</h5>
        <ul class="list-group">
            {% for entries in all_entries reversed %}
                <li class="list-group-item">
                    <a href={% url 'post' id=entries.id %}>
                        {{entries.title}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}